*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    color: #FDFDFD;
    position: relative;
    z-index: 1;
    font-family: Poppins, 'sans-serif';
}

body::-webkit-scrollbar {
    width: 2px;
  }

body::-webkit-scrollbar-thumb {
    background-color: #FBFBFB;
  }

  body::-webkit-scrollbar-track-piece{
    background-color: #333;
  }

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
    gap: 10px;
}

header h1{
    font-size: 2rem;
}

header p{
    font-size: 1.3rem;
    font-style: italic;
}

main{
    
    margin: 4rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.classU{
    width: 40%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #FEFEFE;
    padding: .5rem 2rem;
    cursor: pointer;
    transition: .5s;
}

.classU:hover{
    background-color: #222;
}

.classU h3{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: .8rem;
}

.classU h4{
    font-size: 1.25rem;
    margin-bottom: .2rem;
    font-style: normal;
    font-weight: 500;
}

.classU p{
    font-size: 1.1rem;
    opacity: .8;
}

.classU .dates-title{
    font-size: 1.05rem;
    opacity: .9;
}

.classU ol{
    font-size: .9rem;
    opacity: .7;
    margin-left: 25px;
}

.hide{
    display: none;
}

@media(max-width:750px){

    header h1{
        font-size: 1.8rem;
    }
    
    header p{
        font-size: 1.2rem;
    }

    .classU{
        width: 60%;
    }

    .classU h3{
        font-size: 1.4rem;
    }
    
    .classU h4{
        font-size: 1.2rem;
        margin-bottom: .2rem;
        font-style: normal;
        font-weight: 500;
    }
    
    .classU p{
        font-size: 1.05rem;
        opacity: .8;
    }
    
    .classU .dates-title{
        font-size: 1rem;
        opacity: .9;
    }

    .classU ol{
        font-size: .9rem;
        opacity: .7;
        margin-left: 25px;
    }
    
}

@media(max-width:600px){

    header h1{
        font-size: 1.7rem;
    }
    
    header p{
        font-size: 1.1rem;
        font-style: italic;
    }

    .classU h3{
        font-size: 1.3rem;
    }
    
    .classU h4{
        font-size: 1.1rem;
        margin-bottom: .2rem;
        font-style: normal;
        font-weight: 500;
    }
    
    .classU p{
        font-size: 1rem;
        opacity: .8;
    }
    
    .classU .dates-title{
        font-size: .95rem;
        opacity: .9;
    }

    .classU ol{
        font-size: .8rem;
        opacity: .7;
        margin-left: 25px;
    }

}